{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <script src="https://kit.fontawesome.com/1c941d1499.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/event.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/drop.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Lilita One' rel='stylesheet'>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{% static 'js/upload.js' %}"></script>
  <script src="{% static 'js/drop.js' %}"></script>
</head>
<body>
  <div class="container">
    <div class="navBox">
      <div class="Logo"><a href="{% url 'home' %}" 
      style="text-decoration: none;  color: #E0E06B; text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);-webkit-text-stroke: 1px black;">
      Dlstodsozjt</a></div>
      <i class="fa-solid fa-bars fa-2x"></i>
      <div class="dropdown">
        <i class="fa-solid fa-caret-left"></i>
        <li class="drop-box"><a href="{% url 'newpost' %}" style="text-decoration: none; color:#fff">새 글 작성</a></li>
        <li class="drop-box"><a href="{% url 'mypage' %}" style="text-decoration: none; color:#fff">마이페이지</a></li>
        <li class="drop-box"><a href="{% url 'map' %}" style="text-decoration: none; color:#fff">사진관 찾기</a></li>
        <li class="drop-box"><a href="{% url 'event' %}" style="text-decoration: none; color:#fff">이벤트</a></li>
      </div>
    </div>
    {% block content %} 
    {% endblock %}
  </div>
  
</body>
</html>



