{% extends 'base.html' %} 

{% block content %} 
 
    <form class="main" action="" method="POST" enctype="multipart/form-data">
      <div class="uploadBtn_div">
        <input class="uploadBtn" type="submit" value="게시">
      </div>
      {% csrf_token %}
        
        {{ form.title }}
        
        <div class="uploadMenu">
         
          <div class="menuPlace">
            <i class="fa-solid fa-location-dot fa-2x"></i>
            <span class="menuPlaceLetter">위치</span>
          </div>
          <div class="menuTag">
            <i class="fa-solid fa-tag fa-2x"></i>
            <span class="menuTagLetter">태그</span>
          </div>
          <div class="menuDate" value="space">
            <i class="fa-solid fa-calendar-days fa-2x"></i>
            <span class="menuDateLetter">날짜</span>{{ form.date }}
          </div>
          
        </div>
        {{ form.image }}
        {{ form.content }}
    </form>
    
    {% endblock %}
 



